import praw
import urllib, urllib.request, _collections
import xmltodict
import datetime
from datetime import datetime

from nltk.corpus import stopwords
nltk.download('stopwords')
import re 
import operator

import tkinter as tk
from tkinter import filedialog
from matplotlib.backends.backend_tkagg import FigureCanvasTkAgg
from matplotlib.figure import Figure
import pandas as pd

from random import randint